.header {
  background-color: #d518d8;
  padding: 1rem 0;
  border-bottom: 1px solid #e2e8f0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
    
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: #000000;
}

.greeting {
  font-size: 1.6rem;
  font-weight: bold;
  color: #000000;
}
